 
<div class="row">
	<div ng-repeat="product in products" class="col-lg-3 col-md-3 col-sm-4 col-xs-6 products">
			<div class="wrap-img">
	       	<img class="responsive product-img" src="{{product.img}}" alt="{{product.title}}">
	    </div>
		  <p class="product-title">{{product.title}}</p>
		  <div>
		    <span class="product-price">{{product.price | currency}}</span>
		    <p>ou {{product.installments}}x <span>{{installment(product.price, product.installments) | currency}}</span></p>
		  </div>
		  <button ng-click="addToCart(product)" class="btn btn-green" href="produtos/carrinho">ADICIONAR <i class="fa fa-shopping-cart fa-lg"></i></button>
	</div> 
</div>


